.giohang_sidebox {
  position: fixed;
  width: 400px;
  height: 500px;
  background-color: wheat;
  /* right: -27%; */
  right: 1%;
  border-radius: 5px;
  top: 15%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 99999999;
}
.themsp_btn_container:hover {
  background-color: yellow;
  border: 3px solid yellow !important;
}
.themsp_btn {
  text-decoration: none !important;
  cursor: pointer;
}
