<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinh tế</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#f8f6f0;">
    <div class="container" >
        <div >
            <div style="color:#565555;"><h4>GIỎ HÀNG </h4></div>
            <div class="row"  >
                <div class="col-sm-8" >
                    <div class="col" style="background-color: azure;padding-bottom: 35px;">
                    <a id="nut-x" href="#"><h1>&#8855 </h1> </a>
                    <a href="#" class="anh-giohang"><img src="img/cung be hoc- cung be choi.jpg" alt="ảnh không hiển thị"></a>
                    <a href="#" id="ten-sach-giohang">
                    <p>Cùng Bé Học-Cùng Bé Chơi-Gấu Mi Mi Yêu Thương Mọi Người</p>
                    </a><br><br>
                    <p id="giatien-giohang"><strong>35.100 đ</strong></p>
                    <p id="giagiam">78.000 đ</p>
                </div>
                <div id="box" style=" position: relative; bottom: 130px; left: 620px;">

                    <div id="khung-giohang" style="flex:auto;">
                        <a  href="#" ><img  src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png" ></a>
                        <p style="float: left;"><span style="font-size: large;">&nbsp&nbsp1</span></p>
                        <a href="#"><img style="position: relative; left: 10px;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png" ></a>
                    </div> 
                    <p>Thành Tiền</p>
                    <p id="giatien">35.100 đ</p>
                </div>
                
            </div>
            <div class="col-sm-4" id="right" style="background-color: azure;">
                <a href="#">
                    <IMG src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/promotion/ico_coupon.svg?q=10047"></IMG>    
                </a>  
                <p style="float: left;">KHUYẾN MÃI</p>
                <a href="#" style="position: relative; left: 130px;  color: #2F80ED; text-decoration: none;"> Xem thêm</a>
                <a href="#" style="position:relative; left: 135px;"><img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_seemore_blue.svg?q=10047"></a><BR><br>
                <p style="color: black; font-size: small; float: left;" ><strong>MOCA: GIẢM NGAY 15%</strong></p>
                <a href="#" class="chitiet-giohang" >Chi tiết </a><br><br>
                <p style="color:#7A7E7F;">Nhập mã "MOCA40": Giảm 15% tối đa 40K, thanh toán qua ví Moca - Nhập mã tại Team12</p>
                <p style="color: red;">*1 điều kiện không thỏa</p>
                <input type="button" value="Mua Thêm" id="nut-muathem-giohang"><br>
                <p style="float: left;"><strong>VIB: GIẢM NGAY 50K</strong></p>
                <a href="#" class="chitiet-giohang">Chi tiết</a><br><br>
                <p style="color:#7A7E7F;">Nhập mã "FHSVIB50": Giảm 50K, thanh toán bằng thẻ VISA VIB Family Link - Nhập mã tại Team12</p>
                <p style="color: red;">*1 điều kiện không thỏa</p>
                <div class="ong-giohang">
                    <hr id="soluong-giohang">
                    <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico-cheatprogresss.svg?q=10047">
                </div>
                <p style="font-size:x-small; float: left;">mua thêm 237.600 đ để nhận mã 300.000 đ</p>
                <input type="button" value="Mua Thêm" id="nut-muathemcuoi-giohang"><br>
                <p style="color:#7A7E7F; float: left;">Có thể áp dụng đồng thời nhiều mã</p>
                <img id="anh-dauthang-giohang" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/promotion/ico-alert-grey.svg?q=10047"><br><br>
                <p style="float: left;">Thành tiền &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 35.100 đ</p><br><br>
                <p><strong>Tổng Số Tiền (gồm VAT)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span style="color: #F7941E;font-size: 1.5em;">62.400 đ</span></strong></p>
                <input type="button" value="THANH TOÁN" id="nut-thanhtoan-giohang" >
               
                <a href="#" style="color:#Ff0000; font-size: small;">(Giảm giá trên web chỉ áp dụng cho bán lẻ)</p>
            </div>
        <div>
        </div>




    </div>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>