
.container a
{
    color: black;
    position:relative;
    top: 10px;
    float: left;
}
.container .row a p
{
    color: black;
    font-size: small;
}
.container .row .anh-giohang
{
    text-decoration: none;
    color: red;
}
#giatien-giohang
{
    color: red;
    position: relative;
    bottom: 15px;
}
.container .row  #giagiam
{
    text-decoration: line-through;
    position: relative;
    bottom: 30px;
}
.container .row #box
{
    
    position: relative;
    left: 450px;
    bottom: 80px;
    display: inline-block;
}
.container .row #box input
{
    border-radius: 3px;
}
.container .row #box #giatien
{
    position: relative;
    bottom: 20px;
    color: orange;
}
.container .row  #right p
{
    position: relative;
    top: 10px;
    left: 10px;

}
.container #ten-sach-giohang
{
    text-decoration: none;

}
.container .row #nut-x
{
    text-decoration: none;
    size: 100px;
    position: relative;
    top: 50px;
}
.container .row  #box  #khung-giohang
{
    text-align: center;
    
    border: 1px solid black; 
    text-align: center;
    border-radius: 4px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
 .container .row #box #khung-giohang img
{
    position:relative; 
    text-align: center;
    bottom: 10px; 
    width: 15px;
    
} 
#nut-muathem-giohang
{
    justify-content: center;
    width: 100px;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 6px 0;
    background-color: #2F80ED;
    color: white;
    border: 1.5px solid #2F80ED;
    margin: 0;
    position:relative;
    left: 250px;
}
.container #right .chitiet-giohang
{
    position: relative; 
    left: 130px;
    text-decoration: underline;
    color: #2F80ED;
}
.container #right .ong-giohang
{
    margin-top: 4px;
    width: 60%;
    height: 6px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #B6D3F9;
    border: none;
    text-align: center;
    display: block;
    position: relative;
}
.container #right #soluong-giohang
{
    width: 21%;
    height: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #2F80ED;
    border: none;
    position: relative;
    right: 85px;
}
#nut-muathemcuoi-giohang
{
    justify-content: center;
    width: 100px;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 6px 0;
    background-color: #2F80ED;
    color: white;
    border: 1.5px solid #2F80ED;
    margin: 0;
    position:relative;
    left: 60px;
    bottom: 30px;
}
.container #right #anh-dauthang-giohang
{
    position:relative;
    left: 20px;
    top: 10px;
    float: none;
}
.container #right #nut-thanhtoan-giohang
{
    position:relative;
    left: 30px;
    color: white;
    background: #C92127;
    border: none;
    padding: 10px 100px;
    border-radius: 15px;
    transition: all 0.3s;
}